application.log
build
out
.idea
.gradle
video/
screenshots/
gui-parameters/
data/new/
data/xy-parameters/
data/xyNew/
offline-data/graph/mapped-v2r1.json
data/RandomPicked2.json
data/articles/
/data/graph-tsne-i-100-p25.csv
/data/graph-tsne-d-100-i-100-p25-v2.csv
/data/tiles-merged-128-v2/
/offline-data/
/data/new-protovisuals/
/data/generated/
/data/qrs/
/data/xyDocumentation/
/data/meshes/
